header(class='menu menu-horizontal menu-top menu-thin dark-theme affix')
	.container
		ul.nav-left
			li: a(href="/") Home
		ul.nav-right
			// li: a(href="/users") Users
			if (admin)
				li: span(class="button button-default button-sm button-blue" data-toggle="modal" data-target=".post") Post
					span(class="fa fa-comment-o pull-left") 
				li.dropdown
					a(id="dLabel" class="dropdown-toggle" data-toggle="dropdown" href="#") 
						//span.fa.fa-user.fa-2x.menu-avatar
						img(src= user.avatar class="menu-avatar")
						span(class="fa fa-chevron-down")
					ul.dropdown-menu.light-theme
						li.dropdown-header= 'Signed in as ' + user.username 
						li(role="separator" class="divider")
						li: a(href="/" + user.username) View profile
						li: a(href="/dashboard") Settings
						li: a(href="/logout") Log out
			else
				li: a(href="/login") Log in
				li: a(class="button button-default button-sm button-light-o", href="/signup") Sign up