header.menu.menu-horizontal.menu-top.dark-theme.transparent
	.container-fluid
		a(class="nav-left menu-logo light", href="/"): span(class="fa fa-smile-o")
		ul.nav-right
			li: a(href="/users") Users
			li: a(href="/login") Log in
			li: a(class="button button-default button-light-o", href="/signup") Sign up