header.menu.menu-horizontal.menu-top.dark-theme.transparent
	.container-fluid
		a(class="nav-left menu-logo thin", href="/") Home
		ul.nav-right
			li: a(href="/login") Login
			li: a(class="button button-default button-light-o", href="/signup") Signup