extends layout

block page 
  - var menu = 'index'
block content
  include includes/header
  section.center.bg.hero-bg.dark-theme.blue-gradient
    div.container.text-center
      div.center-page.col-sm-10.col-sm-offset-1
        h1.thin= appTitle
        p.description A Node.js template for building a social app
