extends layout

block content
	include includes/header
	section.center.bg.hero-bg.dark-theme.electric-gradient
		container.text-center
			//div.img-overlay
			div.center-page.col-sm-10.col-sm-offset-1
				h1.thin= appTitle
				p.description A Node.js template for building social apps
