extends layout

block content
  // include includes/header
  section.section.text-center.bg.hero-bg.blue-gradient.dark-theme
    .container
      .form
        a(href="/"): h2.menu-logo.thin The Network
        form(method="POST", action="signup" class="light-theme")
          .container-fluid
            .form-header
              p.lead Sign up
              p= error
            .form-group
              input(type="text", name="username", placeholder="Username")
            .form-group
              input(type="text", name="email", placeholder="Email address")
            .form-group
              input(type="password", name="password", placeholder="Password")
            .form-group
              input(type="submit", value="submit", name="submit", class="button button-default button-pill button-dark btn-block")
      // LOGIN
      p Already have an account? &nbsp;&nbsp;
        a(href="/login", class="button button-default button-pill button-light-o") Log in

