<!DOCTYPE html>
<html>
	<head>
		<%- include('../includes/head'); %>
	</head>
	<body>
		<%- include('../includes/header'); %>
		<h2>Home page</h2>
		<ul class="post-list">
			<% posts.forEach(function(post) { %>
				<li>
					<%= post.text %>
				</li>
			<% }) %>
		</ul>
		<%- include('../includes/footer'); %>
	</body>
</html>