<!DOCTYPE html>
<html>
	<head>
		<%- include('../includes/head'); %>
	</head>
	<body>
		<%- include('../includes/header'); %>
		<div class="section">
		<ul>
			<% users.forEach(function(user) { %>
				<li><%= user.username %></li>
			<% }) %>
		</ul>
		</div>
		<%- include('../includes/footer'); %>
	</body>
</html>