<div class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/">Home</a>
		</div>
		<ul class="navbar-nav float-right">
			<li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
			<% if(admin) { %>
				<li>
					<span class="button button-default button-sm button-blue" data-toggle="modal" data-target="#compose">Post<span>
				</li>
				<li class="nav-item dropdown">
					<a id="dropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
						Settings
						<span class="fa fa-chevron-down"></span>
					</a>
					<div class="dropdown-menu light-theme">
						<a class="dropdown-menu-item" href="/">View profile</a>
						<a class="dropdown-menu-item" href="/dashboard">Dashboard</a>
						<a class="dropdown-menu-item" href="/logout">Logout</a>
					</div>
				</li>
			<% } else { %> 
				<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
			<% } %>
		</ul>
	</div>
</div>