<div class="menu menu-horizontal menu-top menu-thin dark-theme">
	<div class="container">
		<ul class="float-left">
			<li><a href="/">Home</a></li>
		</ul>
		<ul class="float-right">
			<% if(admin) { %>
				<li>
					<span class="button button-default button-sm button-blue" data-toggle="modal" data-target="#compose">Post<span>
				</li>
				<li class="dropdown">
					<a id="dropdown" class="dropdown-toggle" data-toggle="dropdown" href="#">
						<img src= user.avatar class="menu-avatar" />
						<span class="fa fa-chevron-down"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-menu-item">Signed in as...</a></li>
						<li><a class="dropdown-menu-item" href="/">View profile</a></li>
						<li><a class="dropdown-menu-item" href="/dashboard">Dashboard</a></li>
						<li><a class="dropdown-menu-item" href="/logout">Logout</a></li>
					</ul>
				</li>

			<% } else { %> 
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Signup</a></li>
			<% } %>
		</ul>
	</div>
</div>