div(id="compose" class="compose modal fade")
	.modal-dialog
		.modal-content
			// HEADER
			.modal-header
				span Post content
				span(class="modal-close fa fa-close pull-right" data-dismiss="modal")
				// ERROR MESSAGES
				p(class="form-results")
			.modal-body
				form(method="post" action="/api/posts")
					textarea(name="text" rows="5" class="form-control" placeholder="not implemented yet") 
					br
					.pull-left
						span(class="fa fa-lg fa-camera") &nbsp;&nbsp;
						span(class="fa fa-lg fa-video-camera")
					input(type="submit" value="submit" id="post" class="button button-default button-sm button-blue pull-right")