extends layout

block content
	include includes/header
	.page-header.text-center.bg.home-img.dark-theme
		.container
			h1.light Users
	.section.light-theme
		.container
			.row
				each item in users
					.col-sm-6.col-md-4
						div
							a(href= '/' + item.username)
								if item.thumbnail
									img(src= item.thumbnail class="thumb")
								else
									img(src="img/picture.jpg" class="thumb")
							.caption
								h3= item.username
								